flask==3.0.0
google-generativeai==0.3.2
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.116.0
google-api-core==2.15.0
python-dateutil==2.8.2
python-dotenv==1.0.1
spacy>=3.7.2
dateparser>=1.2.0
pytz==2024.1
livekit>=1.0.9
livekit-api>=1.0.2
websockets>=11.0.3
aiohttp>=3.8.5
asyncio>=3.4.3
nest_asyncio>=1.5.8
requests>=2.31.0
openai>=1.3.7
langchain>=0.0.350
langchain-openai>=0.0.2
bland>=0.1.0 